files/OTA_HotelResNotifRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2016 Expedia, Inc. All Rights Reserved -->
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="2.001" id="OTA2005B">
  <xs:element name="OTA_HotelResNotifRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="POS" type="POS_Type">
          <xs:annotation>
            <xs:documentation xml:lang="en">Point of sale object. </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="HotelReservations" type="HotelReservationsType"/>
      </xs:sequence>
      <xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
      <xs:attribute name="ResStatus" type="TransactionActionType" use="optional"/>
    </xs:complexType>
  </xs:element>
  <!--From OTA_SimpleTypes-->
  <xs:simpleType name="AlphaLength3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AmountDeterminationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to indicate if an amount is inclusive or exclusive of other charges, such as taxes, or is cumulative (amounts have been added to each other).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Inclusive"/>
      <xs:enumeration value="Exclusive"/>
      <xs:enumeration value="Cumulative"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DateOrDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A construct to validate either a date or a dateTime value.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:date xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="DayOfWeekType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The Day of Week of the starting date for the availability requested. Enumerated values of StartDOW are the seven days of the week: Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, or Sunday - using three-letter abbreviations</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Mon"/>
      <xs:enumeration value="Tue"/>
      <xs:enumeration value="Wed"/>
      <xs:enumeration value="Thu"/>
      <xs:enumeration value="Fri"/>
      <xs:enumeration value="Sat"/>
      <xs:enumeration value="Sun"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISO3166">
    <xs:annotation>
      <xs:documentation xml:lang="en">2 character country code as defined in ISO3166.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MMYYDate">
    <xs:annotation>
      <xs:documentation xml:lang="en">Month and year information.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|1[0-2])[0-9][0-9]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Money">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for amounts, max 3 decimals</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric0to999">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric values, from 0 to 999 inclusive</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric1to999">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric values, from 1 to 999 inclusive</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to19">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 19.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,19}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, maximum length 5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,5}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, from 1 to 8 inclusive</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OTA_CodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the OTA code tables.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaymentCardCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The 2 digit code used that references the credit card used.</xs:documentation>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="UpperCaseAlphaLength1to2">
          <xs:enumeration value="AX">
            <xs:annotation>
              <xs:documentation xml:lang="en">
					American Express 
					</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="BC">
            <xs:annotation>
              <xs:documentation xml:lang="en">
					Bank Card
					</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="BL">
            <xs:annotation>
              <xs:documentation xml:lang="en">
					Carte Bleu                  
					</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="CB">
            <xs:annotation>
              <xs:documentation xml:lang="en">
					Carte Blanche                  
					</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DN">
            <xs:annotation>
              <xs:documentation xml:lang="en">
					Diners Club
					</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DS">
            <xs:annotation>
              <xs:documentation xml:lang="en">
					Discover Card
					</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="EC">
            <xs:annotation>
              <xs:documentation xml:lang="en">
					 Eurocard
					</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="JC">
            <xs:annotation>
              <xs:documentation xml:lang="en">
					Japanese Credit Bureau Credit Card
					</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="MC">
            <xs:annotation>
              <xs:documentation xml:lang="en">
					Master Card
					</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="TP">
            <xs:annotation>
              <xs:documentation xml:lang="en">
					 Universal Air Travel Card
					</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="VI">
            <xs:annotation>
              <xs:documentation xml:lang="en">
					 Visa
					</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation xml:lang="en">This is intended to be used when the above enumeration list does not meet your needs. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="UpperCaseAlphaLength1to2"/>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="Percentage">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for percentage values</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.0001"/>
      <xs:maxInclusive value="1.0000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RPH_Type">
    <xs:annotation>
      <xs:documentation>(Reference Place Holder) - an index code to identify an instance in a collection of like items.. For example,  used to assign individual passengers or clients to particular itinerary items.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StateProvCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The standard code or abbreviation for the state, province, or region</xs:documentation>
    </xs:annotation>
    <xs:restriction base="StringLength1to8">
      <xs:minLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to64">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 0 to 64</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to16">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to32">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to64">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to128">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 0 to 8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TransactionActionType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of action requested when more than one function could be handled by the message.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Book"/>
      <xs:enumeration value="Quote"/>
      <xs:enumeration value="Hold"/>
      <xs:enumeration value="Initiate"/>
      <xs:enumeration value="Ignore"/>
      <xs:enumeration value="Modify"/>
      <xs:enumeration value="Commit"/>
      <xs:enumeration value="Cancel"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UpperCaseAlphaLength1to2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for an Alpha String, length 2 (for letter codes)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{1,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <!--From OTA_CommonTypes-->
  <xs:element name="TPA_Extensions" type="TPA_ExtensionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A placeholder in the schema to allow for additional elements and attributes to be included if required, per Trading Partner Agreement (TPA).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TPA_ExtensionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Allows extensions 
to be added to the OTA specification per trading partner agreement.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:attributeGroup name="CurrencyAmountGroup">
    <xs:annotation>
      <xs:documentation>Provides a monetary amount and the currency code to reflect the currency in which this amount is expressed.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Amount" type="Money" use="required"/>
    <xs:attributeGroup ref="CurrencyCodeGroup"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="CurrencyCodeGroup">
    <xs:annotation>
      <xs:documentation>Provides a currency code to reflect the currency in which an amount may be expressed.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="DateTimeSpanGroup">
    <xs:annotation>
      <xs:documentation xml:lang="en">The OTA DateTimeSpan data type is based on the W3C base data types of timeInstant and timeDuration.</xs:documentation>
      <xs:documentation xml:lang="en">[Definition:]  The timeDuration datatype represents a combination of year, month, day and time values representing a single duration of time, encoded as a single string. </xs:documentation>
      <xs:documentation xml:lang="en">[Lexical Representation] The lexical representation for timeDuration is the [ISO 8601] extended format PnYn MnDTnH nMnS, where nY represents the number of years, nM the number of months, nD the number of days, 'T' is the date/time separator, nH the number of hours, nM the number of minutes and nS the number of seconds. The number of seconds can include decimal digits to arbitrary precision. As an example, 7 months, 2 days, 2hours and 30 minutes would be expressed as P0Y7M2DT2H30M0S. Truncated representations are allowed provided they conform to ISO 8601 format. </xs:documentation>
      <xs:documentation xml:lang="en">Time periods, i.e. specific durations of time, can be represented by supplying two items of information: a start instant and a duration or a start instant and an end instant or an end instant and a duration. The OTA standards use the XML mapping that provides for two elements to represent the specific period of time; a startInstant and a duration.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Start" type="DateOrDateTimeType" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">The starting value of the time span. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="End" type="DateOrDateTimeType" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">The ending value of the time span. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="DateTimeStampGroup">
    <xs:annotation>
      <xs:documentation xml:lang="en">Creation date time, Creator ID, last modification date time and last Modifier ID.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="CreateDateTime" type="xs:dateTime" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Time stamp of the creation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CreatorID" type="StringLength1to32" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">ID of creator. The creator could be a software system identifier or an identifier of an employee responsible for the creation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="EffectiveExpireOptionalDateGroup">
    <xs:attribute name="EffectiveDate" type="xs:date" use="optional">
      <xs:annotation>
        <xs:documentation>Indicates the starting date.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ExpireDate" type="xs:date" use="optional">
      <xs:annotation>
        <xs:documentation>Indicates the ending date.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="FeeTaxGroup">
    <xs:attribute name="Type" type="AmountDeterminationType" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">An enumerated type that defines the type of fees applied to a rate.</xs:documentation>
        <xs:documentation xml:lang="en">Values: Inclusive, Exclusive, Cumulative.  </xs:documentation>
        <xs:documentation xml:lang="en">Note: If FeeType= Cumulative, fees are accumulated on all previous fees in this ordered list.  For example, if this collection contains 5 different fees and the 4th fee is cumulative, the fee is based on an accumulation of the rate amount plus fees 1 through 3.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Code" type="OTA_CodeType" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Code identifying the fee (e.g.,agency fee, municipality fee, etc.).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Amount" type="Money" use="optional"/>
    <xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="FormattedInd">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identifies if the associated data is formatted into its individual pieces, or exists as a single entity.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="FormattedInd" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="en">Specifies if the associated data is formatted or not. If true, then it is formatted, if false, then not formatted.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="HotelReferenceGroup">
    <xs:annotation>
      <xs:documentation xml:lang="en">HotelReference: The hotel reference identifies a specific hotel by using the Chain Code, the Brand Code, and the Hotel Code.  The codes used are agreed upon by trading partners.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="HotelCode" type="StringLength1to16" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">The code that uniquely identifies a single hotel property. The hotel code is decided between vendors.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="ID_Group">
    <xs:attribute name="ID" type="StringLength1to32" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">A unique identifying value assigned by the creating system, using the XML data type ID.  The Id attribute may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="LanguageGroup">
    <xs:attribute name="Language" type="xs:language" use="optional">
      <xs:annotation>
        <xs:documentation>Language identification.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="OTA_PayloadStdAttributes">
    <xs:annotation>
      <xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="EchoToken" type="StringLength1to64" use="optional"/>
    <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional"/>
    <xs:attribute name="Target" use="optional" default="Production">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="Test"/>
          <xs:enumeration value="Production"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Version" type="xs:decimal" use="optional"/>
    <xs:attributeGroup ref="PrimaryLangID_Group"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="PaymentCardDateGroup">
    <xs:annotation>
      <xs:documentation xml:lang="en">Indicates the start and end date for a payment card.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="EffectiveDate" type="MMYYDate" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Indicates the starting date.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ExpireDate" type="MMYYDate" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">Indicates the ending date.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="PrimaryLangID_Group">
    <xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
      <xs:annotation>
        <xs:documentation>Identifies the primary language preference for the form of travel represented in a collection.
				 The human language is identified by ISO 639 codes.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="ProfileTypeGroup">
    <xs:attribute name="ProfileType" type="OTA_CodeType" use="optional">
      <xs:annotation>
        <xs:documentation>Code to specify a profile such as Customer, Tour Operator, Corporation, etc.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="PromotionCodeGroup">
    <xs:attribute name="PromotionCode" type="StringLength1to32" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Promotion code is the identifier used by the host to link directly with a specific named advertising campaign. By including the required code, the client is able to gain access to special offers which may have been created for a specifically targeted group via a CRM system or for a wider advertising campaign using Television or press adverts.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="ReferencePlaceHolderGroup">
    <xs:attribute name="RPH" type="RPH_Type">
      <xs:annotation>
        <xs:documentation>Used to provide a reference to an object that is stored elsewhere in a collection of the same objects.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="TelephoneAttributesGroup">
    <xs:attribute name="CountryAccessCode" type="NumericStringLength1to3" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Code assigned by telecommunications authorities for international country access identifier.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="AreaCityCode" type="NumericStringLength1to8" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Code assigned for telephones in a specific region, city, or area.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PhoneNumber" type="StringLength1to32" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">Telephone number assigned to a single location.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Extension" type="NumericStringLength1to5" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Extension to reach a specific party at the phone number.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="UniqueID_Group">
    <xs:attribute name="Type" type="OTA_CodeType" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">A reference to the type of object defined by the UniqueId element.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="ID_Group"/>
  </xs:attributeGroup>
  <xs:complexType name="AddressType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Provides address information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AddressLine" type="StringLength1to64" minOccurs="0" maxOccurs="5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Street number, street name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CityName" type="StringLength1to64" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">City eg. Dublin</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostalCode" type="StringLength1to16" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Post Office Code number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StateProv" type="StateProvType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">State or Province name eg. Texas</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryName" type="CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Country name eg. Ireland</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="FormattedInd"/>
  </xs:complexType>
  <xs:complexType name="BookingChannelType">
    <xs:attribute name="Type" type="OTA_CodeType" use="required">
      <xs:annotation>
        <xs:documentation>The type of booking channel. Valid Values: Global Distribution System (GDS), Alternative Distribution System (ADS), Sales and Catering System (SCS), Property Management System (PMS), Central Reservation System (CRS), Tour Operator System (TOS), Internet and ALL</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Primary" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Indicates whether the enumerated booking channel is the primary means of connectivity used by the source.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CompanyNameType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="StringLength0to64"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CountryNameType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The name or code of a country (e.g. as used in an address or to specify citizenship of a traveller).</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="StringLength0to64">
        <xs:attribute name="Code" type="ISO3166" use="optional">
          <xs:annotation>
            <xs:documentation xml:lang="en">ISO 3166 code for a country.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CustomerType">
    <xs:annotation>
      <xs:documentation>Contains basic data on the customer's identity, location, relationships, finances, memberships, etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonName" type="PersonNameType">
        <xs:annotation>
          <xs:documentation>Detailed name information for the customer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Telephone" type="TelephoneInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Information on a telephone number for the customer.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmailType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Electronic email addresses, in IETF specified format.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="StringLength1to128"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DateTimeSpanType">
    <xs:attributeGroup ref="DateTimeSpanGroup"/>
  </xs:complexType>
  <xs:complexType name="FeeType">
    <xs:attribute name="TaxInclusive" type="xs:boolean">
      <xs:annotation>
        <xs:documentation xml:lang="en">Indicates whether taxes are included when figuring the fees.	</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="FeeTaxGroup"/>
  </xs:complexType>
  <xs:complexType name="FeesType">
    <xs:sequence>
      <xs:element name="Fee" type="FeeType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Fee Amount that is applied to the rate. Fees are used for non tax amounts like service charges.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormattedTextTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Formatted" type="xs:boolean" use="optional">
          <xs:annotation>
            <xs:documentation>Textual information, which may be formatted as a line of information, or unformatted, as a paragraph of text.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="LanguageGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ParagraphType">
    <xs:annotation>
      <xs:documentation>An indication of a new paragraph for a sub-section of a formatted text message.</xs:documentation>
    </xs:annotation>
    <xs:choice maxOccurs="99">
      <xs:element name="Text" type="FormattedTextTextType"/>
    </xs:choice>
    <xs:attributeGroup ref="LanguageGroup"/>
  </xs:complexType>
  <xs:complexType name="PaymentCardType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification about a specific credit card</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CardHolderName" type="StringLength1to64" minOccurs="0"/>
      <xs:element name="Address" type="AddressType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="CardType" type="OTA_CodeType" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">Indicates the type of magnetic striped card. Refer to OTA Code ListCard Type (CDT). Use value "1" for credit card.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CardCode" type="PaymentCardCodeType" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">The 2 character code of the credit card issuer. Use value "MC" for Master Card.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CardNumber" type="NumericStringLength1to19" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">Credit card number embossed on the card.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="SeriesCode" type="NumericStringLength1to8" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Verification digits printed on the card following the embossed number. This may also accommodate the customer identification/batch number (CID), card verification value (CVV2 ), card validation code number (CVC2) on credit card.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="PaymentCardDateGroup">
      <xs:annotation>
        <xs:documentation xml:lang="en">Date the card becomes valid for use (optional) and the date the card expires (required) in ISO 8601 prescribed format.</xs:documentation>
      </xs:annotation>
    </xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="PaymentFormType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Ways of providing funds for travel by the individual.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="PaymentCard" type="PaymentCardType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of a debit or credit card.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>This is an XML Schema representing the OTA Person Name object.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GivenName" type="StringLength1to64">
        <xs:annotation>
          <xs:documentation>Given name, first name or names</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MiddleName" type="StringLength1to64" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The middle name of the person name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Surname" type="StringLength1to64">
        <xs:annotation>
          <xs:documentation>Family name, last name. Required for identification of the individual in the profile. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POS_Type">
    <xs:annotation>
      <xs:documentation>POS defines the identity of the party that is connecting to the system and is making a request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Source" type="SourceType" minOccurs="1" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencePlaceHolderType">
    <xs:attributeGroup ref="ReferencePlaceHolderGroup"/>
  </xs:complexType>
  <xs:complexType name="SourceType">
    <xs:sequence>
      <xs:element name="RequestorID" type="UniqueID_Type"/>
      <xs:element name="BookingChannel" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="BookingChannelType">
              <xs:sequence>
                <xs:element name="CompanyName" type="CompanyNameType">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Identifies the company that is associated with the booking channel.</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StateProvType">
    <xs:annotation>
      <xs:documentation xml:lang="en">State, province, or region name or code needed to identify location.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="StringLength0to64">
        <xs:attribute name="StateCode" type="StateProvCodeType">
          <xs:annotation>
            <xs:documentation xml:lang="en">The standard code or abbreviation for the state, province, or region.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TimeInstantType">
    <xs:simpleContent>
      <xs:extension base="xs:dateTime">
        <xs:attribute name="WindowBefore" type="xs:duration" use="optional"/>
        <xs:attribute name="WindowAfter" type="xs:duration" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TimeWindowType">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Total time span covered by this availability request (from the earliest arrival to the latest departure)</xs:documentation>
    </xs:annotation>
    <xs:attribute name="EarliestDate" type="DateOrDateTimeType" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">The earliest ending date/time for the availability requested, expressed in dateTime format as prescribed by ISO 8601.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="LatestDate" type="DateOrDateTimeType" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">The latest ending date/time for the availability requested, expressed in dateTime format as prescribed by ISO 8601.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DOW" type="DayOfWeekType" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">The Day of Week of the starting date for the availability requested. Enumerated values of StartDOW are the seven days of the week: Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, or Sunday.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TaxesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of taxes.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Tax" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Applicable tax element.  This element allows for both percentages and flat amounts. If one field is used, the other should be zero since logically, taxes should be calculated in only one of the two ways.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="FeeTaxGroup"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="CurrencyAmountGroup"/>
  </xs:complexType>
  <xs:complexType name="TelephoneInfoType">
    <xs:annotation>
      <xs:documentation>Information about a telephone number, including the actual number and its usage</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TelephoneType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TelephoneType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Construct for holding a telephone number.</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="TelephoneAttributesGroup"/>
  </xs:complexType>
  <xs:complexType name="TotalType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The total amount charged for the service including additional amounts and fees.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="AmountBeforeTax" type="Money" use="optional"/>
    <xs:attributeGroup ref="CurrencyCodeGroup"/>
  </xs:complexType>
  <xs:complexType name="TotalType2">
    <xs:annotation>
      <xs:documentation xml:lang="en">The total amount charged for the service including additional amounts and fees.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Taxes" type="TaxesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="AmountAfterTax" type="Money" use="optional"/>
    <xs:attributeGroup ref="CurrencyCodeGroup"/>
  </xs:complexType>
  <xs:complexType name="UniqueID_Type">
    <xs:annotation>
      <xs:documentation xml:lang="en">Unique identifier assigned to an individual customer profile.</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="UniqueID_Group"/>
  </xs:complexType>
  <!--From OTA_HotelCommonTypes-->
  <xs:simpleType name="TimeUnitType">
    <xs:restriction base="StringLength1to16">
      <xs:enumeration value="Year"/>
      <xs:enumeration value="Month"/>
      <xs:enumeration value="Week"/>
      <xs:enumeration value="Day"/>
      <xs:enumeration value="Hour"/>
      <xs:enumeration value="Second"/>
      <xs:enumeration value="FullDuration"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="AgeQualifyingGroup">
    <xs:attribute name="AgeQualifyingCode" type="OTA_CodeType" use="optional"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="GuestCountGroup">
    <xs:attribute name="AgeQualifyingCode" type="OTA_CodeType" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">A code representing a business rule that determines the charges for a guest based upon age range. For example, Adult, Child, Senior, Child With Adult, Child Without Adult, etc. This attribute allows for an increase in rate by occupant class.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Age" type="Numeric0to999" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Defines the age of a guest. Not applicable to adult, only to child and infant.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Count" type="Numeric1to999" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">The number of guests in one AgeQualifyingCode.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="RatePlanGroup">
    <xs:attribute name="RatePlanCode" type="StringLength1to64" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">A string value may be used to request a particular code or an ID if the guest qualifies for a specific rate, such as AARP, AAA, a corporate rate, etc., or to specify a negotiated code as a result of a negotiated rate.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="PromotionCodeGroup"/>
  </xs:attributeGroup>
  <xs:complexType name="AdditionalGuestAmountType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Charges related to additional guests.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Amount" type="TotalType"/>
    </xs:sequence>
    <xs:attributeGroup ref="AgeQualifyingGroup"/>
  </xs:complexType>
  <xs:complexType name="AmountType">
    <xs:annotation>
      <xs:documentation>Base charge and additional charges related to a room that includes such things as additional guest amounts, cancel fees, etc. Also includes Discount percentages, total amount, and the rate description.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Base" type="TotalType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The base amount charged for the accommodation or service per unit of time (ex: Nightly, Weekly, etc). If TaxInclusive is set to True, then taxes are included in the base amount. Note that any additional charges should itemized in the other elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalGuestAmounts" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A collection of charges that apply to for additional occupants, guests or service users (over and above the rate's MaxGuest Applicable) </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AdditionalGuestAmount" type="AdditionalGuestAmountType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">Collection of incremental charges per age qualifying code for additional guests. Amount charged for additional occupant is with respect to age group of the base guests.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Fees" type="FeesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A collection of Fees.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="EffectiveExpireOptionalDateGroup"/>
    <xs:attribute name="RateTimeUnit" type="TimeUnitType" use="optional">
      <xs:annotation>
        <xs:documentation>Indicates the time unit for the rate.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="UnitMultiplier" type="xs:positiveInteger" use="optional">
      <xs:annotation>
        <xs:documentation>Indicates the number of rate time units such as "3 Days".</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="BasicPropertyInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A abbreviated short summary of hotel descriptive information.</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="HotelReferenceGroup"/>
  </xs:complexType>
  <xs:complexType name="GuaranteeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The guarantee information to hold a reservation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GuaranteesAccepted">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GuaranteeAccepted">
              <xs:annotation>
                <xs:documentation xml:lang="en">Guarantee Detail</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="PaymentFormType"/>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuestCountType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of GuestCount by age group.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GuestCount" maxOccurs="99">
        <xs:annotation>
          <xs:documentation xml:lang="en">A recurring element that identifies the number of guests and ages of the guests in the request that determines the rates based on business rules for occupancy at each property. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="GuestCountGroup"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="IsPerRoom" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">IsPerRoom means that the guests defined in the GuestCounts object apply to each room in the NumberOfRooms for the RoomStay.  Value of "false" means that the guests defined in the GuestCounts object apply to all rooms combined in the NumberOfRooms for the RoomStay.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MembershipType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of Membership objects. Memberships provides a list of reward programs which may be credited with points accrued from the guest's activity. Which memberships are to be applied to which part is determined by each object's SelectedMembershipRPHs collection.
</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Membership" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">The SelectedMembership object identifies the frequent customer reward program and (optionally) indicates points awarded for stay activity. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="ProgramCode" type="StringLength1to16" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">The code or name of the membership program (e.g., 'Hertz', 'AAdvantage', etc.).</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="AccountID" type="StringLength1to32" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">The account identification number for this particular member in this particular program.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TravelSector" type="OTA_CodeType" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Identifies the travel sector.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RatePlanType">
    <xs:annotation>
      <xs:documentation>Combination of the rate plan core type and rate plan additional information to define the details of the rate plan.</xs:documentation>
      <xs:documentation xml:lang="en">Policies and descriptions that apply to a rate plan.</xs:documentation>
      <xs:documentation xml:lang="en">Information significant to defining a rate plan.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="RatePlanCode" type="StringLength1to16">
      <xs:annotation>
        <xs:documentation xml:lang="en">The RatePlanCode assigned by the receiving system for the inventory item in response to a new rate plan notification. (Implementation Notes:  This would only be returned when the notification is of type New and the sender is translating RatePlanCode values. On subsequent transactions for this rate plan, the sender would populate the RatePlanCode attribute with this value returned by the receiver.)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="EffectiveExpireOptionalDateGroup"/>
  </xs:complexType>
  <xs:complexType name="RateType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Individual rate amount. This rate is valid for a range of number of occupants and an occupant type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Rate" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="en">The  Rate contains a collection of elements that define the amount of the rate, associated fees, additional occupant amounts as well as payment and cancellation policies. Taxes can be broken out or included within the various amounts. A currency can associated to each amount  The applicable period of the the rate are indicated by the effective dates.  Restrictions that may apply to that rate, such as the minimum or maximum length of stay,  stay-over dates (such as a Saturday night), min/max guests applicable for the rate, and age group (ex Adult) are attributes of Rate. It indicates the number of units that the quoted rate is based upon, as well as the TimeUnits type used that the rate is based upon, e.g.: 3days at $100.00 per day.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="AmountType"/>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoomRateType">
    <xs:annotation>
      <xs:documentation>Individual rate amount. This rate is valid for a range of number of occupants and an occupant type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Rates" type="RateType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Individual rate amount. This rate is valid for a range of number of occupants and an occupant type.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="EffectiveExpireOptionalDateGroup"/>
    <xs:attribute name="RoomTypeCode" type="StringLength1to16">
      <xs:annotation>
        <xs:documentation xml:lang="en">Specfic system room type code, ex: A1K, A1Q etc.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="NumberOfUnits" type="Numeric1to999" use="optional"/>
    <xs:attributeGroup ref="RatePlanGroup"/>
  </xs:complexType>
  <xs:complexType name="RoomStayType">
    <xs:annotation>
      <xs:documentation>Details on the Room Stay including Guest Counts, Time Span of this Room Stay, pointers to Res Guests, guest Memberships, Comments and Special Requests pertaining to this particular Room Stay and finally financial information related to the Room Stay, including Guarantee, Deposit and Payment and Cancellation Penalties.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RoomTypes">
        <xs:annotation>
          <xs:documentation xml:lang="en">A collection of Room Types associated with a particular Room Stay.</xs:documentation>
          <xs:documentation xml:lang="en">The RoomType element is used to contain all the room type information for a single RateType Code (ex A1K) for a given date range. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RoomType" type="RoomTypeType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RatePlans">
        <xs:annotation>
          <xs:documentation xml:lang="en">A collection of Rate Plans associated with a particular Room Stay.</xs:documentation>
          <xs:documentation xml:lang="en">The rate plan element is used to contain all the rate information for a single Rate Plan Code (ex RACK) for a given date range. A given Rate Plan may have variable rates, over the effective period of the Rate Plan, this is represented by the child element Rates.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RatePlan" maxOccurs="unbounded">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="RatePlanType">
                    <xs:sequence>
                      <xs:element name="Commission" type="CommissionType" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation xml:lang="en">Commission percent assoiciated with the RatePlan. </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RoomRates">
        <xs:annotation>
          <xs:documentation xml:lang="en">A collection of Room Rates associated with a particular Room Stay. Each Room Rate combination can have multiple rates. Example King room, Rack rate plan, Monday through Thursday, weekday amount, Friday and Saturday, weekend amount.</xs:documentation>
          <xs:documentation xml:lang="en">The combination of a given Rate Plan and Room Type. This allows for support for systems where Rate Plans are child of Room Type as well as systems which Room Types are child of Rate Plans.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RoomRate" type="RoomRateType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GuestCounts" type="GuestCountType">
        <xs:annotation>
          <xs:documentation xml:lang="en">A collection of Guest Counts associated with Room Stay. A child Guest Count element is required for each distinct age group.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimeSpan" type="DateTimeSpanType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Time Span which covers the Room Stay.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Guarantee" type="GuaranteeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The guarantee information associated to the Room Stay. A maximum of 5 occurances are available for use depending on the context.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Total" type="TotalType2" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The total amount charged for the Room Stay  including additional occupant amounts and fees. If TaxInclusive is set to True, then taxes are included in the total amount.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BasicPropertyInfo" type="BasicPropertyInfoType">
        <xs:annotation>
          <xs:documentation>Property Information for the Room Stay.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoomTypeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of AdditionalDetail elements.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="RoomTypeCode" type="StringLength1to16" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="en">Specfic system room type code, ex: A1K, A1Q etc.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IsRoom" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="SpecialRequestType">
    <xs:annotation>
      <xs:documentation xml:lang="en">SpecialRequests : SpecialRequest
A collection of SpecialRequest objects. The collection of all special requests associated with any part of the reservation (the reservation in its entirety, one or more guests, or one or more room stays).  Which special requests belong to which part is determined by each object's SpecialRequestRPHs collection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SpecialRequest" maxOccurs="99">
        <xs:annotation>
          <xs:documentation xml:lang="en">The SpecialRequest object indicates special requests for a particular guest, service or reservation.  Each of these may be independent of any that are tied to the profile (see Profile Synchronization standard).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ParagraphType">
              <xs:attribute name="RequestCode" type="StringLength1to16" use="optional">
                <xs:annotation>
                  <xs:documentation xml:lang="en">RequestCode : String
Identifies a request for this reservation from the Special Request code list for Hotels, Amenities, etc.  Refers to the Hotel Descriptive Content Notification in the CRS Availability, Rate and Inventory standard.</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--From OTA_Profile-->
  <xs:complexType name="ProfileType">
    <xs:annotation>
      <xs:documentation>Root element for profile content.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Customer" type="CustomerType"/>
    </xs:sequence>
    <xs:attributeGroup ref="ProfileTypeGroup"/>
  </xs:complexType>
  <xs:complexType name="ProfilesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of Profile objects or Unique IDs of Profiles.
</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProfileInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Profile" type="ProfileType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--From OTA_HotelReservation-->
  <xs:complexType name="HotelReservationIDsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A Collection of HotelReservationID objects. The collection of all ReservationIDs can include Passenger Name Record (PNR), Guest Name Record (GNR) and Guest Folio numbers. Associated with each can be a Confirmation number which is usually given to the guest.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="HotelReservationID">
        <xs:annotation>
          <xs:documentation xml:lang="en">The HotelReservationID  object contains various unique (ReservationID) and non unique (ConfirmationID, CancellationID) identifiers that the trading partners associate to the reservation</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="ResID_Type" type="OTA_CodeType" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">An enumerated type that defines the type of  Reservation ID.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ResID_Value" type="StringLength1to64" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">This is the actual value associated with ResID_Type as generated by the system that is the source of the ResID_Type</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ResID_Source" type="StringLength1to64" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">A unique identifier to indicate the source system which generated the ResIDValue</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ResID_Date" type="xs:dateTime" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">Date of the creation of this reservation.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HotelReservationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The Reservation class contains the current reservation being created or altered.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UniqueID" type="UniqueID_Type"/>
      <xs:element name="RoomStays" type="RoomStaysType"/>
      <xs:element name="ResGuests" type="ResGuestsType"/>
      <xs:element name="ResGlobalInfo" type="ResGlobalInfoType"/>
    </xs:sequence>
    <xs:attribute name="RoomStayReservation" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">Boolean True if this reservation is reserving rooms.  False if it is only reserving services.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="DateTimeStampGroup"/>
  </xs:complexType>
  <xs:complexType name="HotelReservationsType">
    <xs:sequence>
      <xs:element name="HotelReservation" type="HotelReservationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResCommonDetailType">
    <xs:annotation>
      <xs:documentation>A grouping of elements including Guest Counts, Time Span, pointers to Res Guests, guest Memberships, Comments and Special Requests and finally finacial information including Guarantee, Deposit and Payyment and Cancellation Penalties.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Memberships" type="MembershipType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A collection of Membership objects. Memberships provides a list of reward programs which may be credited with points accrued from the guest's activity. Which memberships are to be applied to which part is determined by each object's SelectedMembershipRPHs collection.
</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResGlobalInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">ResGlobalInfo is a container for various information that affects the Resevation as a whole. These include global comments, counts, reservation IDs, loyalty programs, and payment methods</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ResCommonDetailType">
        <xs:sequence>
          <xs:element name="HotelReservationIDs" type="HotelReservationIDsType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResGuestRPHsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of unsigned integers serving as reference placeholders, and used as an index identifying which guests occupy this room</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResGuestRPH" type="ReferencePlaceHolderType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This is a reference placeholder, used as an index for this guest in this reservation. In the ResGuest object it is used like all other RPH attributes to send the delta of a reservation.  It is used by the RoomStay and Service objects to indicate which guests are associated with that room stay or service.  </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResGuestsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of ResGuest objects, identifying the guests associated with this reservation. Which guests are in which room is determined by each RoomStays ResGuestRPHs collection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResGuest">
        <xs:annotation>
          <xs:documentation xml:lang="en">The ResGuest object contains the information about a guest associated with a reservation. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Profiles" type="ProfilesType"/>
          </xs:sequence>
          <xs:attribute name="ResGuestRPH" type="RPH_Type" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">This is a reference placeholder, used as an index for this guest in this reservation. In the ResGuest object it is used like all other RPH attributes to send the delta of a reservation. It is used by the RoomStay and Service objects to indicate which guests are associated with that room stay or service.  </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="AgeQualifyingCode" type="OTA_CodeType" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="en">A code representing a business rule that determines the charges for a guest based upon age range. For example, Adult, Child, Senior, Child With Adult, Child Without Adult, etc. This attribute allows for an increase in rate by occupant class.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoomStaysType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A collection of RoomStay objects.  Room stays associated with this reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RoomStay">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the Room Stay including Guest Counts, Time Span of this Room Stay, pointers to Res Guests, guest Memberships, Comments and Special Requests pertaining to this particular Room Stay and finally finacial information related to the Room Stay, including Guarantee, Deposit and Payment and Cancellation Penalties.</xs:documentation>
          <xs:documentation xml:lang="en"> A collection of reference place holders. This is a reference placeholder, used as an index for the reservation guests.
					</xs:documentation>
          <xs:documentation xml:lang="en">A collection of Hotel Service reference placeholders. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="RoomStayType">
              <xs:sequence>
                <xs:element name="ResGuestRPHs" type="ResGuestRPHsType"/>
                <xs:element name="SpecialRequests" type="SpecialRequestType" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation xml:lang="en">The SpecialRequest object indicates special requests for the whole Reservation, or a particular Room Stay or Service.</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommissionType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The Commission element contains the data required for determining the commission amount to be paid to an agent.  The Commission Amount is calculated by applying a Percent to the CommissionableAmount and adding any flat amount that may apply.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Percent" type="Percentage" use="optional"/>
  </xs:complexType>
</xs:schema>
