files/OTA_CancelRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 (http://www.altova.com) by EXPEDIA (EXPEDIA) -->
<!-- dc_version=@version@ -->
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="2.000" id="OTA2005B">
  <xs:element name="OTA_CancelRS">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element name="Success" type="SuccessType"/>
          <xs:element name="UniqueID" type="UniqueID_Type" minOccurs="2" maxOccurs="2"/>
          <xs:element name="CancelInfoRS" type="CancelInfoRSType"/>
        </xs:sequence>
        <xs:element name="Errors" type="ErrorsType"/>
      </xs:choice>
      <xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
      <xs:attribute name="Status" type="TransactionStatusType" use="required"/>
    </xs:complexType>
  </xs:element>
  <!--Derived from OTA_SimpleTypes-->
  <xs:simpleType name="OTA_CodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the OTA code tables.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to512">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 0 to 512</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to64">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 0 to 64</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to32">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to64">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="4"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TransactionStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cancelled"/>
      <xs:enumeration value="Ignored"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Derived from OTA_CommonTypes-->
  <xs:attributeGroup name="ErrorWarningAttributes">
    <xs:attribute name="ShortText" type="StringLength4" use="required"/>
    <xs:attribute name="Code" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">If present, this refers to a table of coded values exchanged between applications to identify errors or warnings.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="OTA_CodeType">
          <xs:enumeration value="450"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="ErrorWarningType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A list of the types of errors or warnings that may be reported in a response message.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Type" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">The Warning element MUST contain the Type attribute that uses a recommended set of values to indicate the warning type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown".</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="OTA_CodeType">
          <xs:enumeration value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="ID_Group">
    <xs:attribute name="ID" type="StringLength1to32" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">A unique identifying value assigned by the creating system, using the XML data type ID.  The Id attribute may be used to reference a primary-key value within a database or in a particular implementation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="LanguageGroup">
    <xs:attribute name="Language" use="optional">
      <xs:annotation>
        <xs:documentation>Language identification.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:language">
          <xs:enumeration value="en-us"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="OTA_PayloadStdAttributes">
    <xs:annotation>
      <xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="EchoToken" type="StringLength1to20"/>
    <xs:attribute name="TimeStamp" type="xs:dateTime" use="required"/>
    <xs:attribute name="Target" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="Production"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Version" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:minInclusive value="1.000"/>
          <xs:maxInclusive value="1.000"/>
          <xs:fractionDigits value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="PrimaryLangID_Group"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="PrimaryLangID_Group">
    <xs:attribute name="PrimaryLangID" use="required">
      <xs:annotation>
        <xs:documentation>Identifies the primary language preference for the form of travel represented in a collection.
				 The human language is identified by ISO 639 codes.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:language">
          <xs:enumeration value="en-us"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="UniqueID_Group">
    <xs:attribute name="Type" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">A reference to the type of object defined by the UniqueId element.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="OTA_CodeType">
          <xs:enumeration value="10"/>
          <xs:enumeration value="14"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="ID_Group"/>
  </xs:attributeGroup>
  <xs:complexType name="CancelInfoRSType">
    <xs:sequence>
      <xs:element name="UniqueID" type="UniqueID_Type"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyNameType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="StringLength0to64"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ErrorType">
    <xs:annotation>
      <xs:documentation>Standard way to indicate that an error occurred during the processing of an OTA message</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="FreeTextType">
        <xs:attributeGroup ref="ErrorWarningType"/>
        <xs:attributeGroup ref="ErrorWarningAttributes"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ErrorsType">
    <xs:sequence>
      <xs:element name="Error" type="ErrorType" maxOccurs="99"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextType">
    <xs:annotation>
      <xs:documentation>Provides some textual information to be used when storing a profile or when sending a request. This may be used to express special needs or special requirements.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="StringLength0to512">
        <xs:attributeGroup ref="LanguageGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SuccessType">
    <xs:annotation>
      <xs:documentation>Standard way to indicate successful processing of an OTA message.</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="UniqueID_Type">
    <xs:annotation>
      <xs:documentation xml:lang="en">An identifier used to uniquely reference an object in a system (e.g. an airline reservation reference, customer profile reference, booking confirmation number, or a reference to a previous availability quote). </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CompanyName" type="CompanyNameType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identifies the company that is associated with the UniqueID.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="UniqueID_Group"/>
  </xs:complexType>
</xs:schema>
