files/OTA_HotelResModifyNotifRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 (http://www.altova.com) by EXPEDIA (EXPEDIA) -->
<!-- dc_version=@version@ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="2.001" id="OTA2005B">
  <xs:element name="OTA_HotelResModifyNotifRS">
    <xs:annotation>
      <xs:documentation>This is the response message for a full overlay modification to a reservation. The response could be as simple as indicating the modification was made or as complex as echoing back all reservation information.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:sequence>
            <xs:element name="Success" type="SuccessType"/>
            <xs:element name="HotelResModifies" type="HotelResModifyType">
              <xs:annotation>
                <xs:documentation>A collection of reservations to be modified.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:element name="Errors" type="ErrorsType"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
      <xs:attribute name="ResResponseType" type="TransactionStatusType" use="required"/>
    </xs:complexType>
  </xs:element>
  <!--Derived from OTA_SimpleTypes-->
  <xs:simpleType name="OTA_CodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the OTA code tables.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to512">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 0 to 512</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to64">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="4"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TransactionStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Modified"/>
      <xs:enumeration value="Ignored"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Derived from OTA_CommonTypes-->
  <xs:attributeGroup name="ErrorWarningAttributes">
    <xs:attribute name="ShortText" type="StringLength4" use="required"/>
    <xs:attribute name="Code" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">If present, this refers to a table of coded values exchanged between applications to identify errors or warnings.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="OTA_CodeType">
          <xs:enumeration value="450"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="ErrorWarningType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A list of the types of errors or warnings that may be reported in a response message.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Type" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">The Warning element MUST contain the Type attribute that uses a recommended set of values to indicate the warning type. The validating XSD can expect to accept values that it has NOT been explicitly coded for and process them by using Type ="Unknown".  </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="OTA_CodeType">
          <xs:enumeration value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="LanguageGroup">
    <xs:attribute name="Language" use="optional">
      <xs:annotation>
        <xs:documentation>Language identification.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:language">
          <xs:enumeration value="en-us"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="OTA_PayloadStdAttributes">
    <xs:annotation>
      <xs:documentation xml:lang="en">The OTA_PayloadStdAttributes defines the standard attributes that appear on the root element for all OTA payloads.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="EchoToken" type="StringLength1to20"/>
    <xs:attribute name="TimeStamp" type="xs:dateTime" use="required"/>
    <xs:attribute name="Target" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="Production"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Version" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:fractionDigits value="3"/>
          <xs:minInclusive value="1.000"/>
          <xs:maxInclusive value="1.000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="PrimaryLangID_Group"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="PrimaryLangID_Group">
    <xs:attribute name="PrimaryLangID" use="required">
      <xs:annotation>
        <xs:documentation>Identifies the primary language preference for the form of travel represented in a collection.
				 The human language is identified by ISO 639 codes.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:language">
          <xs:enumeration value="en-us"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="ErrorType">
    <xs:annotation>
      <xs:documentation>Standard way to indicate that an error occurred during the processing of an OTA message</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="FreeTextType">
        <xs:attributeGroup ref="ErrorWarningType"/>
        <xs:attributeGroup ref="ErrorWarningAttributes"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ErrorsType">
    <xs:sequence>
      <xs:element name="Error" type="ErrorType" maxOccurs="99"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextType">
    <xs:annotation>
      <xs:documentation>Provides some textual information to be used when storing a profile or when sending a request. This may be used to express special needs or special requirements.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="StringLength0to512">
        <xs:attributeGroup ref="LanguageGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SuccessType">
    <xs:annotation>
      <xs:documentation>Standard way to indicate successful processing of an OTA message.</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <!--Derived from OTA_HotelReservation-->
  <xs:complexType name="HotelReservationIDsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A Collection of HotelReservationID objects. The collection of all ReservationIDs can include Passenger Name Record (PNR), Guest Name Record (GNR) and Guest Folio numbers. Associated with each can be a Confirmation number which is usually given to the guest.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="HotelReservationID" maxOccurs="2">
        <xs:annotation>
          <xs:documentation xml:lang="en">The HotelReservationID  object contains various unique (ReservationID) and non unique (ConfirmationID, CancellationID) identifiers that the trading partners associate to the reservation</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="ResID_Type" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">An enumerated type that defines the type of  Reservation ID.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="OTA_CodeType">
                <xs:enumeration value="3"/>
                <xs:enumeration value="8"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="ResID_Value" type="StringLength1to64" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">This is the actual value associated with ResID_Type as generated by the system that is the source of the ResID_Type</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ResID_Source" type="StringLength1to64" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">A unique identifier to indicate the source system which generated the ResIDValue</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ResID_Date" type="xs:dateTime" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="en">Date of the creation of this reservation.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HotelReservationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The Reservation class contains the current reservation being created or altered.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResGlobalInfo" type="ResGlobalInfoType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HotelResModifyType">
    <xs:sequence>
      <xs:element name="HotelResModify">
        <xs:annotation>
          <xs:documentation>A full overlay of reservation information containing the modified data. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="HotelReservationType"/>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResCommonDetailType">
    <xs:annotation>
      <xs:documentation>A grouping of elements including Guest Counts, Time Span, pointers to Res Guests, guest Memberships, Comments and Special Requests and finally finacial information including Guarantee, Deposit and Payyment and Cancellation Penalties.</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="ResGlobalInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">ResGlobalInfo is a container for various information that affects the Resevation as a whole. These include global comments, counts, reservation IDs, loyalty programs, and payment methods</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ResCommonDetailType">
        <xs:sequence>
          <xs:element name="HotelReservationIDs" type="HotelReservationIDsType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
